/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: initial;
  text-decoration: none;
}

img {
  width: 100%;
  border-radius: 10px;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

li {
  list-style: none;
}

body {
  color: #333;
  font-family: Hiragino Sans;
  font-size: 16px;
  width: 100%;
}

._sp {
  display: block;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
.header-inner {
  display: flex;
  height: 65px;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
@media (min-width: 767px) {
  .header-inner {
    padding: 0 20px;
  }
  .header-inner body {
    font-size: 18px;
  }
  .header-inner ._sp {
    display: none;
  }
  .header-inner ._pc {
    display: block;
  }
}
.header-logo {
  width: 180px;
}
@media (min-width: 767px) {
  .header-logo {
    width: 200px;
  }
  .header-logo body {
    font-size: 18px;
  }
  .header-logo ._sp {
    display: none;
  }
  .header-logo ._pc {
    display: block;
  }
}
.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header-bar {
  width: 30px;
  background-color: #fff;
  height: 2px;
  margin: 3px 0;
  transition: 0.3s;
}
.header-bar.open:nth-child(1) {
  transform: translateY(4px) rotate(45deg);
}
.header-bar.open:nth-child(2) {
  transform: translateY(-4px) rotate(-45deg);
}

.main {
  z-index: 1;
  color: #fff;
  position: relative;
  height: 100vh;
}
.main-box {
  position: absolute;
  top: 300px;
  left: 60px;
}
.main-tit {
  font-size: 60px;
  line-height: 1.2;
  font-family: niveau-grotesk, sans-serif;
}
.main-txt {
  font-size: 30px;
}

.sec {
  color: #fff;
  padding-bottom: 100px;
  margin: 100px 0;
}
.sec-inner {
  padding: 0 15px;
}
.sec-img {
  min-width: 320px;
  max-width: 430px;
  width: 100%;
}
.sec-tit {
  font-size: 35px;
  margin: 15px 0 40px;
  letter-spacing: 0.09em;
}
.sec-tit._sm {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: normal;
}
.sec-txt {
  line-height: 2;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}
.sec-link {
  color: #fff;
  transition: all 0.3s;
  font-family: niveau-grotesk, sans-serif;
}
.sec-link:hover {
  opacity: 0.7;
  transition: all 0.3s;
}
.sec-list {
  margin-bottom: 50px;
}
.sec-item {
  line-height: 1.8;
}

.loader-bg {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  left: 0px;
  position: fixed;
  top: 0px;
  z-index: 300;
}

.loader-icon {
  width: 100px;
  height: 100px;
  left: 50%;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
}

.gnav {
  position: fixed;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.9);
}
@media (min-width: 767px) {
  .gnav {
    right: 0;
    position: static;
    height: auto;
    width: auto;
    background-color: transparent;
  }
  .gnav body {
    font-size: 18px;
  }
  .gnav ._sp {
    display: none;
  }
  .gnav ._pc {
    display: block;
  }
}
.gnav-list {
  position: relative;
  width: 60%;
  top: 100px;
  left: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 767px) {
  .gnav-list {
    position: static;
    flex-direction: row;
  }
  .gnav-list body {
    font-size: 18px;
  }
  .gnav-list ._sp {
    display: none;
  }
  .gnav-list ._pc {
    display: block;
  }
}
.gnav-item {
  font-size: 22px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
  margin-bottom: 50px;
}
@media (min-width: 767px) {
  .gnav-item {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
    font-size: 16px;
    margin-left: 20px;
  }
  .gnav-item body {
    font-size: 18px;
  }
  .gnav-item ._sp {
    display: none;
  }
  .gnav-item ._pc {
    display: block;
  }
}
.gnav-txt {
  color: #fff;
}

.gnav.open {
  right: 0;
  transition: all 0.5s;
}

.bgm {
  position: fixed;
  top: 0;
  right: 0;
  left: -600px;
  height: 100vh;
  z-index: -1;
}
.bgm-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}