@use "../setting/config" as cf;

@mixin btn() {
  color: #fff;
  transition:all 0.3s;
  font-family:cf.$en-font;
  margin: 20px 0 ;
  padding: 15px 40px;
  background-color:rgba(255,255,255,0.4); ;
  border-radius: 999px;
  display: inline-block;
  font-weight: bold;
}