@use "../setting/config" as cf;

// tb
@mixin tb() {
  @media (min-width: cf.$tb) {
    body {
      font-size: 18px;
    }
    ._sp {
      display: none;
    }
    ._pc {
      display: block;
    }
    @content;
  }
}

// pc
@mixin pc() {
  @media (min-width: cf.$pc) {
    @content;
  }
}
