@use '../setting/config' as cf;

body{
  color: cf.$base-color;
  font-family: cf.$base-font-family;
  font-size: 16px;
  width: 100%;
}
._sp {
  display:block;
}

@media (min-width: cf.$tb) {
  ._sp {
    display: none;
  }
  body {
    font-size: 18px;
  }
}