@use "../mixin/mq" as mq;

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  &-inner {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding:0 15px;
  }
  &-logo {
    width: 200px;
  }
  @include mq.tb {
    background-color: red;
  }
  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &-bar {
    width: 30px;
    background-color:#fff;
    height: 2px;
    margin: 3px 0;
  }
}

