@use "../mixin/btn" as bt;
@use "../setting/config" as cf;

.main {
  z-index: 1;
  color: #fff;
  position: relative;
  height: 100vh;
  &-box {
    position: absolute;
    top: 300px;
    left: 60px;
  }
  &-tit {
    font-size:60px;
    line-height: 1.2;
    font-family: cf.$en-font;
  }
  &-txt {
    font-size: 30px;
  }
}
.sec {
  color: #fff;
  padding-bottom: 100px;
  margin: 100px 0;
  &-inner {
    padding: 0 15px;
  }
  &-img {
    min-width: 320px;
    max-width: 430px;
    width: 100%;
  }
  &-tit {
    font-size: 35px;
    margin: 15px 0 40px;
    letter-spacing: 0.09em;
    &._sm {
      font-size: 24px;
      margin-bottom: 15px;
      font-weight: normal;
    }
  }
  &-txt {
    line-height: 2;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
  }
  &-link {
    @include bt.btn;
  }
  &-list {
    margin-bottom: 50px;
  }
  &-item {
    line-height: 1.8;
  }
}
